

h1 {
		font-family: 'Righteous', cursive;
        text-align: center;
        font-size: 30pt;
        color: black;
        margin-bottom: 5px;
    }
  
    #table {
        margin: 5px;
        width: 290px;
    }
  
    th {
        padding: 3px;
    }
  
    td {
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid #990000;
        background-color: #ffffcc;
    }


    #trHeader {
        text-decoration: underline;
        color: #990000;
    }
  
    .centerCell {
        text-align: center;
    }
    

    
    input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}